/*.mobileconfig
  Content-Type: application/x-apple-aspen-config
  Access-Control-Allow-Origin: *

/*
  Access-Control-Allow-Origin: *
  X-Content-Type-Options: nosniff
  Cache-Control: no-cache, no-store, must-revalidate